.detail-user-form input{
    width: 100%;
    border: none;
}

.detail-user-form .name-detail{
    /* width: 100%; */
    /* border: none; */
    text-align: center;
}

.detail-user-form .submit-edit-detail{
    position: absolute;
    bottom: 20px;
    right: 26px;
}