main h1:first-child{
    padding-top: 70px;
}

.index .react-like .like-icon{
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}

.index .react-like .like-icon .like-active{
    max-width: 20px;
    max-height: 20px;
}

